/*FONT*/
@font-face {
   font-family: "test";
   src: url(Image/Organic\ Relief.ttf);
}

h1{
   font-family: "test";
   font-size: larger;
}
div.menu{
   font-family: "test";
   font-size: larger;
}
/*FIN FONT*/
/*Menu */
body{
   background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);    color: white;
   background-repeat:no-repeat ;
   color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
    
 }
 .haut{
   display: flex;
   justify-content: center;   
   }
   
   
   .haut img{
      width: 100px;
      border-radius: 50%;
   }
   .menu{
      display: flex;
      justify-content: space-around;
      
   }
   .menu div{
      display: flex;
   }
   .menu img{
      width:50px;
   }
   .menu a {
      display: flex;
      align-items: center;
      color: white;
      text-decoration: none;
   
   }
   /*FIN MENU*/

/*Image livrable*/
main{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

main a{

   display: flex;
   justify-content: center;
}
main  img{

width: 85%;

}