/*Menu */
body{
   background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
    
 }
 .haut{
 display: flex;
 justify-content: center;   
 }
 
 
 .haut img{
    width: 100px;
    border-radius: 50%;
 }
 .menu{
    display: flex;
    justify-content: space-around;
    
 }
 .menu div{
    display: flex;
 }
 .menu img{
    width:50px;
 }
 .menu a {
    color: white;
    text-decoration: none;
 }


/*Image livrable*/
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
main a {
   display: flex;
   justify-content: center;
}

main  img{
   
    width: 90%;

}