/*FONT*/
@font-face {
   font-family: "test";
   src: url(Image/Organic\ Relief.ttf);
}

h1{
   font-family: "test";
   font-size: larger;
}
div.menu{
   font-family: "test";
   font-size: larger;
}
/*FIN FONT*/
/*MENU*/
body{
   background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%); 
   color: white;
   display: flex;
   justify-content: center;
   flex-direction: column;
   
}
.haut{
display: flex;
justify-content: center;   
align-items: center;
}


.haut img{
   width: 100px;
   border-radius: 50%;
}
.menu{
   display: flex;
   justify-content: space-around;
   
}
.menu div{
   display: flex;
}
.menu img{
   width:50px;
}
.menu a {
   display: flex;
   align-items: center;
   color: white;
   text-decoration: none;

}
/*FIN MENU*/
/*MAIN*/
/*h1 centre*/
main h1 { 
   display: flex;
   justify-content: center;
}
/*Couleur Theo*/
span{
   color: red;
}

/*case*/
.parent {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(5, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
  
   }
   
   .div1 { grid-area: 3 / 1 / 5 / 2;
      border: solid; 
      }
   .div1 h1{
      display: flex;
      justify-content: center;
   }
   .div2 { grid-area: 3 / 3 / 5 / 4; 
      border: solid;}
   .div2 h1{
      display: flex;
      justify-content: center;
   }
   .div3 { grid-area: 3 / 5 / 5 / 6; 
      border: solid;}
   .div3 h1{
      display: flex;
      justify-content: center;
   }
/*BOUTON*/
footer{
   display: flex;
   justify-content: center;
}
.styed{
   border: solid;
   background-color: transparent;
   font-family: test;
   font-size: larger;

}
:hover .styed{
   cursor: pointer;
}